.clndr-table {
	table-layout: fixed;
	width: 464px;
	height: 361px;
}
#calendar .clndr-controls {
	width: 440px;
	display: flex;
	justify-content: space-between;
	font-size: medium;
}
#calendar table {
	margin-top: 5px;
	border: 1px solid;
	border-color: #549FAB;
}

#calendar table td {
	border: 1px solid;
	border-color: #549FAB;
	/*padding: 6px 6px 40px 40px;*/
	text-align: right;
/*	height: 70px;
	width: 70px;*/
}


#calendar table thead td {
	background-color: #549FAB;
	padding: 3px;
	text-align: center;
	color: white;

}

#calendar .day-contents {
	color: #256078;
	display: flex;
	justify-content: flex-end;
}

.selected-day{
	background-color: #FFF8B8;
}

#logo {
	background-color: white;
	height: 30px;
	width: 30px;
	margin: 2px;
}

.rounded-top {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0; 
}

.rounded-bottom {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.rounded-none {
	border-radius: 0;
}

.housemate-phone {
	display: flex;
	align-items: center;
}

.mypage-header {
	margin: 0;
	background-color: black;
	color: white;
}

.nav-tab-item {
	color: white;
	cursor: pointer;	
}

.header-contents {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: large;
}

.flash-messages {
	border-radius: 0;
}

.chore-potentials-row {
	display: flex;
	justify-content: space-between;
}

.schedule-length {
	display: flex;
	align-items: center;
}

.admin-phone {
	display: flex;
	align-items: center;
}

.house-name {
	display: flex;
	align-items: center;
}
	
.calendar-view {
	/*background-image:  url('/static/img/Chores-polaroid-sam.jpg');*/
	background-size: contain;
 	background-repeat:no-repeat;
 	background-position: top right;
 	height: 100%;
}

.personal-view {
	background-image:  url('/static/img/Chores-polaroid-sam.jpg');
	background-size: contain;
 	background-repeat:no-repeat;
 	background-position: top right;
 	height: 100%;
}

.clndr-control-button {
	background-color: #256078;
	border-color: #256078;	
	cursor: pointer;
	border-radius: 4px;
	color: white;
	padding: 2px 5px;
	font-size: 14px;
}

.clndr-controls .month {
	font-style: oblique;
	font-weight: bold;
}

.calendar-view h2 {
	color: #263248;
}

.personal-view h2 {
	color: #263248;
}

#house_pref_form h2 {
	color: #263248;
}

#house_pref_form h3 {
	color: #263248;
}

.nav>li>a:hover {
	background-color: #7E8AA2;
    color: white;
}
.nav-tabs>li>a:hover {
	border-color: #7E8AA2;
}

/* blue checkbox */
input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:29px;
	height:23px; 
	display:inline-block;
	line-height:23px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:23px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -23px;
}
						
label.css-label {
	background-image:url('/static/img/checkboxes.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* end of blue checkbox */

.img-format {
	width: 75%;

}
.day {
	height: 70px;
	width: 70px;
	valign: top;
}
