#calendar table {
	border: 1px solid gray;
}

#calendar table td {
	border: 1px solid gray;
	padding: 3px 3px 20px 20px;
	text-align: right;
}

#calendar table thead td {
	background-color: lightgray;
	padding: 3px;
	text-align: center;

}

.selected-day{
	background-color: lightgray;
}

.moved { 
	color: gray; 
	text-decoration: line-through; 
}

.event-day {

}

.img-format {
	display: inline;
}

#logo {
	height: 6%;
	width: 6%;
}
/*
body {
	background-image:  url('/static/img/Chores-sam.jpg');
	background-size: 100%;
 	background-repeat:no-repeat;
 	height: 100%;
}*/