<!doctype html>
<html>
<head>
  <title>Chore Me</title>
  <link rel="shortcut icon" href="http://cdn.flaticon.com/png/256/40629.png" type="image/x-icon">
  <link rel="icon" href="http://cdn.flaticon.com/png/256/40629.png" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/underscore-min.js"></script>
  <script src="/static/js/clndr.js"></script>
</head>

<body>
  <div class="mypage-header">
    <div class="header-contents">
    <div>
      <img id="logo" class="img-circle" src="http://cdn.flaticon.com/png/256/40629.png">
      Chore Me 
    </div>
      {% if session['user_id'] %}
      <input id="logout-button" class="btn btn-primary pull-right" type="button" onclick="location.href='/logout';" value="Logout">
      {% endif %}
    </div>
      
    <!-- If user logged in, display logout button -->
      {% if session['user_id'] %}
        <ul class="nav nav-tabs">
          <li role="presentation" id="personal_tab">
            <a class="nav-tab-item" href="/personal_view">Personal View
            </a>
          </li>
          <li role="presentation" id="calendar_tab">
            <a class="nav-tab-item" href="/calendar_view">Calendar View
            </a>
          </li>
          <li role="presentation" id="house_pref_tab">
            <a class="nav-tab-item" href='/create_house_pref'>House Pref 
            </a>
          </li>
        </ul>

      {% endif %}

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning flash-messages" role="alert">{{ message }}
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
  </div>
  <div class="container-fluid">
  {% block content %} put your content here {% endblock %}
</div>
<script src="/static/js/base.js"></script>
</body>
</html>