<!doctype html>
<html>
<head>
  <title>Chore Me</title>
  <link rel="shortcut icon" href="http://cdn.flaticon.com/png/256/40629.png" type="image/x-icon">
  <link rel="icon" href="http://cdn.flaticon.com/png/256/40629.png" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/underscore-min.js"></script>
  <script src="/static/js/clndr.js"></script>
</head>

<body>
  <div class="container-fluid">
  <div class="row">
    <img id="logo" src="http://cdn.flaticon.com/png/256/40629.png">
    <div>Chore Me</div> 
  </div>
      
    <!-- If user logged in, display logout button -->
      {% if session['user_id'] %}
        <div class="row">
          <input class="btn btn-primary" type="button" onclick="location.href='/personal_view';" value="Personal View">
          <input class="btn btn-primary" type="button" onclick="location.href='/calendar_view';" value="Calendar View">
          <input class="btn btn-primary" type="button" onclick="location.href='/create_house_pref';" value="House Pref"> 
          <input class="btn btn-primary pull-right" type="button" onclick="location.href='/logout';" value="Logout">
        </div>
      {% endif %}

      {% with messages = get_flashed_messages() %}
      <div class="row"
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% endwith %}
      
    <hr>
<div class="container"> 
  {% block content %} put your content here {% endblock %}
</div>

</body>
</html>