{% extends 'base.html' %}
{% block content %}

<h2>Calendar View</h2>

<ul id="user_chores">
</ul>

<input type="button" onclick="location.href='/personal_view';" value="Personal View">
<input type="button" onclick="location.href='/house_pref_view';" value="House Pref"> 

<div class="clndr-controls">
  <div class="clndr-previous-button">&lsaquo;</div>
  <div class="month"><%= month %></div>
  <div class="clndr-next-button">&rsaquo;</div>
</div>
<div class="clndr-grid">
  <div class="days-of-the-week">
    <% _.each(daysOfTheWeek, function(day) { %>
      <div class="header-day"><%= day %></div>
    <% }); %>
    <div class="days">
      <% _.each(days, function(day) { %>
        <div class="<%= day.classes %>"><%= day.day %></div>
      <% }); %>
    </div>
  </div>
</div>

<script src="/static/js/calendar_view.js"></script>

{% endblock %}