{% extends 'base.html' %}
{% block content %}

<h2>Create House Preferences</h2>

<!-- if we have previously created a schedule, submit to the reschedule route, otherwise go to create_user_chores -->
	<form method="POST" name="house_pref_form" id="house_pref_form" class="form-horizontal">
	    <h3>Add Your House</h3>
	    <div class="form-group">
	    	<label class="col-xs-2 control-label">House Name:</label>
	    	{% if house_name %}
		    	<p class="col-xs-6 form-control-static" name="house_name">{{ house_name }}</p>
	    	{% else %}
		    	<div class="col-xs-6">
		    		<input type="text" name="house_name" placeholder="Monkey House" required class="form-control">
		    	</div>
		    {% endif %}
		</div>

	    <h3>House Members:</h3>
	    <div class="form-group">
	    	<label class="col-xs-2 control-label">Admin Phone:</label> 
	    	<p name="admin_phone" class="col-xs-6 form-control-static">{{ admin_phone }}</p>
	    </div>
	    	<div id="phone-inputs">
	    		{% if house_name %}
	    			{% for housemate in housemates_list %}
	    				<div class="form-group">
	    				<label class="col-xs-2 control-label">Housemate phone:</label>
	    				<div class="col-xs-6">
	    					<input name="housemate_phone{{ loop.index }}" id="housemate_phone{{ loop.index }}" type="text" value="{{ housemate.phone }}" required class="form-control">
	    				</div>
	    				<button class="btn btn-default" name="remove_phone_button">Remove</button>
	    				</div>

	    			{% endfor %}
	    				
	    		{% endif %}
	    	</div>
	    	<button class="btn btn-default" id="add-phone-button" name="add-phone-button">add Housemate</button>
	    	<br>Housemate Count<input type="text" name="housemate_count" id="housemate_count">

	    <h3>Choose Your Chores</h3>
	    	Select From Table<br>
			    {% for chore in chore_objs %}
				    <ul id="chore-potentials">
				    	<li>{{ chore.name }}</li>
				    </ul>
			    {% endfor %}

			Selected Table<br>
				<ul id="chore-selected">
					{% set lookup = {
									1: "Weekly",
									2: "Bi-Weekly",
									3: "Every 3 Weeks",
									4: "Every 4 Weeks"
									} 
					%}
					{% if house_name %}
						{% for house_chore in housechores_list %}
							<li>
								<a href= "#", data-target= '#myModal', data-toggle= 'modal', id= '{{ house_chore.chore.name }}', class= "housechore">
											{{ house_chore.chore.name }}, {{ lookup[house_chore.week_freq] }}, {{ house_chore.day }}<!-- 
									 --></a><!-- 
								 --><button name=	"remove_chore_button">Remove</button>
							</li>
						{% endfor %}
					{% endif %}
				</ul>

		<!-- div that is filled by clicks to the chore-potentials table with frequencies set by modal window -->
		<div id="chore-selected-inputs">
			{% if house_name %}
				{% for house_chore in housechores_list %}
					<input name="chores{{ loop.index }}", id="hidden{{ house_chore.chore.name }}", value="{{ house_chore.chore.name }}|{{ house_chore.week_freq }}|{{ house_chore.day }}" type="text"> 
				{% endfor %}
			{% endif %}
		</div>
		<input type="text" name="hidden_count_of_chores" id="hidden_count_of_chores">

		<br>Please select a frequency for each chore<br>

		<br>
			{% if house_name %}
				Current Schedule Start Date: {{ house_start_date }} <br>
				Re-Schedule out for: 
				<input type="number" min="1" max="52" name="num_weeks" value="{{ house_num_weeks }}"required>
					weeks<br>
				<input type="submit" name="recreate_chores" onclick="document.pressed=this.value" value="CHORE ME AGAIN">
				This will delete all future chores of the current schedule.
				<br>
				Or go back 
				<input type="button" onclick="location.href='/calendar_view';" value="Calendar View"> 
				<input type="button" onclick="location.href='/personal_view';" value="Personal View">
			{% else %}
				Schedule out for: 
				<input type="number" min="1" max="52" name="num_weeks" value="{{ house_num_weeks }}"required>
					weeks<br>
				<input type="submit" name="create_chores" onclick="document.pressed=this.value" value="CHORE ME">
			{% endif %}
	</form>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Chore name</h4>
      </div>
      <form id="chore-freq-form" method="POST">
	      <div class="modal-body">
	            <b>Frequency: </b>
	            <select type="text" name="week_freq" id="week_freq" class="form-control">
			      <option value="1" selected="selected">Weekly</option>
			      <option value="2">Bi-Weekly</option>
			      <option value="3">Every 3 Weeks</option>
			      <option value="4">Every 4 Weeks</option>
	    		</select>
	    		<br>

	    		<b>Day of Week Due: </b>
	            <select type="text" name="day" class="form-control">
			      <option value="Sunday" selected="selected">Sunday</option>
			      <option value="Monday">Monday</option>
			      <option value="Tuesday">Tuesday</option>
			      <option value="Wednesday">Wednesday</option>
			      <option value="Thursday">Thursday</option>
			      <option value="Friday">Friday</option>
			      <option value="Saturday">Saturday</option>
	    		</select> 
	    		<br>
	    		<input type="text" id="hidden-modal-chore" value="" name="chore">   		
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
       </form>
    </div>
  </div>
</div>


<script src="/static/js/create_house_pref.js"></script>


{% endblock %}