{% extends 'base.html' %}
{% block content %}


<!-- if we have previously created a schedule, submit to the reschedule route, otherwise go to create_user_chores -->
	<form method="POST" name="house_pref_form" id="house_pref_form" class="form-signin">
		<h2 class="form-signin-heading text-muted">Create House Preferences</h2>
	    <div class="row">
	    	<div class="house-name">
		    	<label class="col-xs-2 control-label text-muted">House:</label>
		    	{% if house_name %}
			    	<p class="col-xs-6 form-control-static" name="house_name">
			    		{{ house_name }}
			    	</p>
		    	{% else %}
			    	<div class="col-xs-6">
			    		<input type="text" name="house_name" placeholder="Monkey House" required class="form-control">
			    	</div>
			    {% endif %}
			    <div class= "col-xs-4">
			    </div>
			</div>
		</div>

	    <h3 class="form-signin-heading text-muted">Housemates</h3>
	    <div class="row">
	    	<div class="admin-phone">
		    	<label class="col-xs-2 control-label">Admin Phone:</label> 
		    	<p name="admin_phone" class="col-xs-6 form-control-static">{{ admin_phone }}</p>
		    </div>
		</div>
	    	<div id="phone-inputs">
	    		{% if house_name %}
	    			{% for housemate in housemates_list %}
	    				<div class="row housemate-phone">
		    				<label class="col-xs-2 control-label">Housemate phone:</label>
		    				<div class="col-xs-2">
		    					<input name="housemate_phone{{ loop.index }}" id="housemate_phone{{ loop.index }}" type="text" value="{{ housemate.phone }}" required class="form-control">
		    				</div>
		    				<button class="btn btn-default" name="remove_phone_button">Remove</button>
	    				</div>	

	    			{% endfor %}
	    				
	    		{% endif %}
	    	</div>
	    	<button class="btn btn-default" id="add-phone-button" name="add-phone-button">add Housemate</button>
	    	<input type="hidden" name="housemate_count" id="housemate_count">

	    <h3 class="form-signin-heading text-muted">Choose Your Chores</h3>
	    	
	    	<div class="row">
	    		<div class="col-xs-3">
					<table class="table table-striped table-bordered">
						<tr>
							<th>Potential Chores</th>
						</tr>
					    {% for chore in chore_objs %}
						    <tr id="chore-potentials">
						    	<td>
						    		<div class="chore-potentials-row">
							    		<span>{{ chore.name }}</span>
							    		<button type="button" name= "add_chore_button" class="btn btn-sm add-chore-button glyphicon glyphicon-plus">
							    		</button>
							    	</div>
						    	</td>
						    </tr>
					    {% endfor %}
					</table>
				</div>
				<div class="col-xs-1"></div>
				<div class="col-xs-4">
					<table class="table table-striped table-bordered" id="chore-selected">
						{% set lookup = {
										1: "Weekly",
										2: "Bi-Weekly",
										3: "Every 3 Weeks",
										4: "Every 4 Weeks"
										} 
						%}
						<tr>
							<th>Selected Chores</th>
						</tr>
						{% if house_name %}
							{% for house_chore in housechores_list %}
							<tr>
								<td>
									<a href= "#", data-target= '#myModal', data-toggle= 'modal', id= '{{ house_chore.chore.name }}', class= "housechore">
												{{ house_chore.chore.name }}, {{ lookup[house_chore.week_freq] }}, {{ house_chore.day }}
									</a>
									<button type="button" name= "remove_chore_button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</td>
							</tr>
							{% endfor %}
						{% endif %}
					</table>
					</div>
			</div>

		<!-- div that is filled by clicks to the chore-potentials table with frequencies set by modal window -->
		<div id="chore-selected-inputs">
			{% if house_name %}
				{% for house_chore in housechores_list %}
					<input name="chores{{ loop.index }}", id="hidden{{ house_chore.chore.name }}", value="{{ house_chore.chore.name }}|{{ house_chore.week_freq }}|{{ house_chore.day }}" type="hidden"> 
				{% endfor %}
			{% endif %}
		</div>
		<input type="hidden" name="hidden_count_of_chores" id="hidden_count_of_chores">

			{% if house_name %}
				<div class="row">
					<label class="col-xs-3 control-label">Current Schedule Start Date: </label>
					<div class="col-xs-2">
						<span class="form-control-static">{{ house_start_date }}</span>
					</div>
				</div>
				<div class="row">
					<div class="schedule-length">
						<div class="col-xs-3">
							<label class="control-label">Re-Schedule out for:</label>
						</div>
						<div class="col-xs-2">
							<input type="number" min="1" max="52" name="num_weeks" value="{{ house_num_weeks }}"required class="form-control">
						</div>
						<div class="col-xs-3">
							<label class="control-label">weeks</label>
						</div>
					</div>
				</div>
				<input type="submit" class="btn btn-primary" name="recreate_chores" onclick="document.pressed=this.value" value="CHORE ME AGAIN">
				This will delete all future chores of the current schedule.
				<br>
			{% else %}
				<div class="schedule-length">
					<div class="col-xs-3">
						<label class="control-label">Schedule out for:</label> 
					</div>
					<div class="col-xs-2">
						<input type="number" min="1" max="52" name="num_weeks" value="{{ house_num_weeks }}"required class="form-control">
					</div>
					<div class="col-xs-3">
						<label class="control-label">weeks</label>
					</div>
				</div>
				<div>
					<input type="submit" class="btn btn-primary" name="create_chores" onclick="document.pressed=this.value" value="CHORE ME">
				</div>
			{% endif %}
	</form>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Chore name</h4>
      </div>
      <form id="chore-freq-form" method="POST">
	      <div class="modal-body">
	            <b>Frequency: </b>
	            <select type="text" name="week_freq" id="week_freq" class="form-control">
			      <option value="1" selected="selected">Weekly</option>
			      <option value="2">Bi-Weekly</option>
			      <option value="3">Every 3 Weeks</option>
			      <option value="4">Every 4 Weeks</option>
	    		</select>
	    		<br>

	    		<b>Day of Week Due: </b>
	            <select type="text" name="day" class="form-control">
			      <option value="Sunday" selected="selected">Sunday</option>
			      <option value="Monday">Monday</option>
			      <option value="Tuesday">Tuesday</option>
			      <option value="Wednesday">Wednesday</option>
			      <option value="Thursday">Thursday</option>
			      <option value="Friday">Friday</option>
			      <option value="Saturday">Saturday</option>
	    		</select> 
	    		<br>
	    		<input type="hidden" id="hidden-modal-chore" value="" name="chore">   		
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
       </form>
    </div>
  </div>
</div>


<script src="/static/js/create_house_pref.js"></script>


{% endblock %}