{% extends 'base.html' %}
{% block content %}


<form action="/add_invited_user" method="POST" class="form-signin">
	<h2 class="form-signin-heading text-muted">Sign Up</h2>
		<div class="row">
			<div class="col-xs-6">
				<input type="text" name="username" placeholder="Username" required class="form-control">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<input type="password" placeholder="Password" name="password" required class="form-control">
			</div>
		</div>
		<div class="row">		
			<div class="col-xs-6">
				<input type="password" placeholder="Confirm Password" id="confirm_password" required class="form-control">
			</div>
		</div>
		<div class="row">		
			<div class="col-xs-6">		
   				<input type="hidden" name="user_id" value= "{{ invited_user.id }}" class="form-control">
   			</div>
   		</div>
		<div class="row">		
			<div class="col-xs-6">	
				<input type="submit" value="Sign Up" class="btn btn-primary btn-block">
			</div>
		</div>		
</form>

{% endblock %}