{% extends 'base.html' %}
{% block content %}

<div class="col-xs-4 col-lg-4"></div>
<div class="col-xs-4 col-lg-4">
	<form action="/process_login" method="POST" class="form-signin">
		<h2 class="form-signin-heading text-muted">Sign In</h2>
			<div class="row">
					<input type="text" name="username" required placeholder="username" class="form-control rounded-top" value="janet">
			</div>
			<div class="row">
					<input type="password" name="password" required placeholder="password" class="form-control rounded-none" value="password">
			</div>	
			<div class="row">
					<input type="submit" value="Sign In" class="btn btn-primary btn-block rounded-bottom">
			</div>
			<a href="/register">New? Create a house and invite housemates</a>
	</form>
</div>
<div class="col-xs-4 col-lg-4"></div>


{% endblock %}