{% extends 'base.html' %}
{% block content %}


<h2>Register</h2>
<form action="/add_admin_user" method="POST" class="form-horizontal">
	
	<h3>Account Info</h3>
	<div class="form-group">
		<label class="col-xs-2 control-label">Username:</label>
		<div class="col-xs-6">
			<input type="text" name="username" placeholder="Username" required class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">Phone Number:</label>
		<div class="col-xs-6">
			<input type="text" name="phone" placeholder="+15105555555" required class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">Password:</label>
		<div class="col-xs-6">
			<input type="password" placeholder="Password" name="password" required class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">Confirm Password:</label>
	    <div class="col-xs-6">
	    	<input type="password" placeholder="Confirm Password" id="confirm_password" required class="form-control">
	    </div>
    </div>
    <div class="form-group">
	    <div class="col-xs-offset-2 col-sm-10">
			<input type="submit" value="Register" class="btn btn-primary">
		</div>	
	</div>
</form>
{% endblock %}