{% extends 'base.html' %}
{% block content %}

<h2>Register</h2>
<form action="/add_admin_user" method="POST">
	<h3>Account Info</h3>
	Username:
	<input type="text" name="username" placeholder="Username" required><br>
	Phone Number:
	<input type="text" name="phone" placeholder="+15105555555" required><br>
	Password:	
	<input type="password" placeholder="Password" name="password" required><br>
	Confirm Password:
    <input type="password" placeholder="Confirm Password" id="confirm_password" required><br>
	<input type="submit" value="Register">	
</form>

{% endblock %}