{% extends 'base.html' %}
{% block content %}


<div class="col-xs-4 col-lg-4"></div>
<div class="col-xs-4 col-lg-4">
<form action="/add_admin_user" method="POST" class="form-signin">
	<h2 class="form-signin-heading text-muted">Register</h2>
	<div class="row">
		<input type="text" name="username" placeholder="Username" required class="form-control rounded-top" value="Admin">
	</div>
	<div class="row">
		<input type="text" name="phone" placeholder="+15105555555" required class="form-control rounded-none" value="+15106840288">
	</div>
	<div class="row">
		<input type="password" placeholder="Password" name="password" required class="form-control rounded-none" value="password">
	</div>
<!-- 	<div class="row">
	    <div class="col-xs-6">
	    	<input type="password" placeholder="Confirm Password" id="confirm_password" required class="form-control">
	    </div>
    </div> -->
    <div class="row">
		<input type="submit" value="Register" class="btn btn-primary btn-block rounded-bottom">
	</div>
</form>
</div>
<div class="col-xs-4 col-lg-4"></div>
{% endblock %}